body {
  background-image: url("matrix-code.gif");
  background-color: #cccccc;
 }
 @font-face {
  font-family: myFirstFont;
  src: url(CHERI___.ttf);
}



 h1 {
   font-family: myFirstFont;
   color: rgb(56, 139, 0);
   
 }

 @font-face {
  font-family: mySecondFont;
  src: url(mangat.ttf);
 }

 body { 
   font-family: mySecondFont;
   src: url(mangat.ttf);
   color: rgb(190, 190, 190)
 }

 a { 
  font-family: mySecondFont;
  src: url(mangat.ttf);
  color: rgb(190, 190, 190)
}